{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="height: 350px">
        <a href="{{ path('app_choose_drivers') }}" class="btn btn-primary">ZAGRAJ!</a>
    </div>

{% endblock %}
