{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="height: 350px">
        <h1>Wyścig</h1>
    </div>
    <br/><br/>
    <div class="d-flex align-items-center justify-content-center" style="height: 350px">
        {{ race.getDate()|date("d-m-Y") }}
        <br/>
        {% for driver in race.getDrivers() %}
            {{ driver.getEmail() }}
        {% endfor %}
    </div>

{% endblock %}
